body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
}

.container,
.form-container,
.dashboard-container,
.page-container {
    background: white;
    padding: 30px;
    margin: 20px auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input,
select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #2980b9;
}

.logout-btn {
    background-color: #e74c3c;
    margin-top: 20px;
}


.logout-btn:hover {
    background-color: #c0392b;
}